@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: Mooli, sans-serif;
}

@media screen and (min-width: 700px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    #menu-list {
        display: none;
    }
}

h1,header,footer, #menu-list {
    background-color: var(--primary-color);
    justify-content: center;
}

h2, h1, #menu-list {
    text-align: center;
}
h2, footer {
    color: var(--text-light);
}

#menu-list, h1 {
    color: var(--text-light);
    list-style: none;
    padding: 0;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--text-dark);
  background-color: var(--text-dark);
}

a:link,
a:visited {
  color: var(--accent-color);
}

img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.gallery {
    display: grid;
    grid-gap: 20px;
}

button {
  background: none;
  border: none;
  font-size: 1.2em;
  color: var(--primary-color);
  cursor: pointer;
}
